.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
	box-shadow: 0 50px 50px -20px rgba(0, 0, 0, 0.85)
  
  
}



@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid rgb(12, 10, 10);
    border-radius: 10px;
    margin: 0.5rem;
  }
}

input {
  text-align: left;
  padding: 0.25rem 0;
  color: #000000;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
  margin: 1rem 1rem 0rem 1rem;
	padding: .5rem;
	border-radius: 2rem;
	display: block;
  background-color: rgba(240, 228, 228, 0.25);
	border: none;
	cursor: pointer;
  
}

label {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}


button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  
}

.link-btn {
  background: none;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
	font-size: 1.5rem;
	width: 100%;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	letter-spacing: 1px;
  
}

.customnav {
  background-color:rgb(77, 102, 245);
  padding: 1.5%;
}

.customBtn {
border-radius: 2px;
background-color: rgb(77, 102, 245);
margin: 1rem;
padding: 0.5rem;
border: none;
border-radius: 10px;
width: 20%;
}

.modal-content {
  background-color: white;
  border: none;
}

.modal-header {
  background-color: rgb(77, 102, 245);
}

.modal-header .link-item {
  color: black;
}

.modal-header .link-item:hover {
  color: white;
}

.workout-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.workout-card{
  margin: 1.5rem; 
  min-width: 20%; 
}