@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk";
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Space+Grotesk:wght@400;500;600&display=swap');

body {
  background-image: url(https://i.postimg.cc/gjSbZ8Ky/Stride-logo.png); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
}

.white {
  background: white;
}

.poppins {
  font-family: "Poppins";
}

.Space-g {
  font-family: "Space Grotesk";
}